.breadcrumbs{
  color: $white;
  padding-top: 25px;
  padding-left: 25px;
  font-size: 14px;
  font-weight: $weight-bold;
  opacity: 0;
  transition: opacity .15s;
  position: absolute;
  left: 50px;

  @include breakpoint($breakpoint-m){
    padding: 22px 20px;
    font-size: 16px;
  }

  @include breakpoint(1300px) {
    left: 0;
  }

  li{
    display: inline-block;
    margin-right: 10px;
  }
}

.breadcrumbs__section{
  color: $white;

  &:hover{
    text-decoration: underline;
  }
}

.breadcrumbs__seperator{

  &:after{
    content: '>';
    font-weight: bold;
    color: rgba($white, .8);
  }
}


@include breakpoint(1300px){
  .breadcrumbs__section,
  .breadcrumbs__seperator{
    // display: none !important;
  }
}



.is-scrolled-in-section{

  .breadcrumbs{
    opacity: 1;
  }

  .breadcrumbs__seperator{
    display: inline-block;
  }
}