.breadcrumbs {
  color: $primary-contrast;
  padding-top: 25px;
  padding-left: 25px;
  font-size: 14px;
  font-weight: 600;
  opacity: 0;
  transition: opacity .15s;
  position: absolute;
  left: 50px;
  white-space: nowrap;

  @media (min-width: $breakpoint-m) {
    padding: 22px 20px;
    font-size: 16px;
  }

  @media (min-width: $breakpoint-xl) {
    left: 0;
  }
}

.breadcrumbs__item {
  display: inline-block;
}

.breadcrumbs__item--current {
  &:after {
    opacity: .5;
    margin: 0 7px;
    content: '';
    width: 7px;
    height: 12px;
    vertical-align: middle;
    display: inline-block;
    background: no-repeat url('data:image/svg+xml;utf8,<svg width="7" height="11" viewBox="0 0 7 11" xmlns="http://www.w3.org/2000/svg"><path d="M6.872 5.807L1.858 10.87c-.085.087-.187.13-.304.13-.117 0-.218-.043-.304-.13L.128 9.738C.043 9.65 0 9.548 0 9.43c0-.118.043-.22.128-.307L3.716 5.5.128 1.877C.043 1.79 0 1.687 0 1.57c0-.12.043-.22.128-.308L1.25.13c.086-.087.187-.13.304-.13.117 0 .22.043.304.13l5.014 5.063c.085.086.128.19.128.307 0 .118-.043.22-.128.307z" fill-rule="nonzero" fill="#{$primary-contrast}"/></svg>')
  }
}

.breadcrumbs__section {
  color: $primary-contrast;

  &:hover{
    text-decoration: underline;
  }
}


.is-scrolled-in-section {
  .breadcrumbs {
    opacity: 1;
  }

  .breadcrumbs__seperator {
    display: inline-block;
  }
}