.content {
  h1 { 
    @include title-xl; 
    margin-bottom: 20px;
  }
  h2 { 
    @include title-l; 
    margin-bottom: 10px;
  }
  h3 { 
    @include title-xs; 
    margin-bottom: 10px;
  }

  p {
    @include text-small;
  }
  
  ul {
    list-style: normal;
    list-style-position: inside;
    margin-bottom: 2em;
  }

  li {
    margin-bottom: 1em;
  }

  a {
    color: currentColor;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}