.content {

  h1 { 
    line-height: 1.2;
    font-size: 40px;
    font-weight: 600;
    color: $primary;
    margin-bottom: 20px;
    max-width: 740px;
  }

  h2 {
    line-height: 1.2;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    max-width: 740px;
  }

  h3,
  h4,
  h5,
  h6 { 
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 17px;
    font-size: 16px;
    margin-bottom: 10px;
    max-width: 740px;
  }

  p,
  li {
    line-height: 1.7;
    margin-bottom: 1em;
    font-weight: 400;
    font-size: 15px;
    max-width: 740px;
  }
  
  ol,
  ul {
    list-style: normal;
    margin-left: 1em;
    margin-bottom: 1em;

    ol,
    ul {
      margin-bottom: 0;
    }
  }

  ol {
    list-style: decimal;
  }

  li {
    margin-bottom: 0;
  }

  a {
    color: #4183C4;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }


  /**
   * Table styling
   */

  table {
    width: 100%;
    border: 1px dotted $grey;
    border-bottom: 0;
    margin-bottom: 1em;

    caption {
      padding: .7em 15px;
      text-align: left;
      font-size: 1.3em;
      margin: auto -3px;
      border-radius: 3px;
    }

    th {
      font-weight: bold;
      background-color: $bg-grey;
      border-right: 1px dotted $grey;

      &:last-of-type {
        border-right: 0;
      }
    }

    td {      
      background: white;
      border-bottom: 1px dotted $grey;
      border-right: 1px dotted $grey;

      &:last-of-type {
        border-right: 0;
      }
    }

    td,
    th {
      padding: .7em 15px;
      text-align: left;
      line-height: 1.7;
      font-weight: 400;
      font-size: 15px;

      &:empty {
        &::after {
          content: '';
          display: block;
          height: 1em;
        }
      }
    }

    thead {
      td,
      th {
        font-weight: bold;
      }
    }

    tbody {
      td,
      th {
        vertical-align: top;
      }
    }
  }

  
  hr {
    border: 0;
    background-color: $grey;
    height: 1px;
    margin: 50px 0;
  }

  h1 code,
  h2 code,
  h3 code,
  h4 code,
  h5 code,
  h6 code,
  td code,
  th code,
  li code,
  p code {
    padding: 0 3px;
    margin: 0;
    font-size: .85em;
    background-color: rgba(27, 31, 35, .05);
    border-radius: 3px;
    font-family: monospace;
    display: inline-block;
  }

  code[class*="language-"],
  pre[class*="language-"] {
    font-size: 13.6px;
    line-height: 19px;
    background-color: #1B1D23;
    box-shadow: none;
  }

  pre[class*="language-"] {
    border: 1px solid #eee;
    border-radius: 0;
    margin-bottom: 24px;
  }
}