.header {
  position: fixed;
  height: 60px;
  left: 0;
  right: 0;
  top: 0;
  background-color: $primary;
  z-index: 1;
  border-bottom: 1px solid rgba(black, .1);
  overflow: hidden;

  @media (min-width: $breakpoint-xl) {
    left: $sidebar-width;
  }
}

.has-no-headings .header {
  @media (min-width: $breakpoint-xl) {
    left: 0;
  }
}

.has-no-headings .header__hamburger {
  @media (min-width: $breakpoint-l) {
    color: transparent;
  }
}

.header__title {
  display: inline-block;
  padding: 22px;
  color: white;
  margin: 0;
}

.header__hamburger {
  display: inline-block;
  float: left;
  cursor: pointer;
  z-index: 2;
  color: $primary-contrast;
  padding: 15px;
  opacity: .8;
  transition: opacity .15s;
  border-right: 1px solid rgba(black, .1);
  font-size: 30px;
  user-select: none;

  &:hover {
    opacity: 1;
  }

  @media (min-width: $breakpoint-xl) {
    display: none;
  }
}

/**
 * The navigation
 */

.header__nav {
  position: relative;
  transition: opacity .15s ease;
  z-index: 5;
  float: left;
  display: none;
  opacity: 1;
  border-bottom: 1px solid rgba(black, .1);

  @media (min-width: $breakpoint-l) {
    display: block;
  }
}

.header__nav__item {
  display: inline-block;
  border-right: 1px solid rgba(black, .1);
}

.header__nav__item__link {
  color: $primary-contrast;
  padding: 0 20px;
  line-height: 59px;
  text-decoration: none;
  font-weight: 600;
  display: block;
  transition: background-color .15s;

  &:hover {
    text-decoration: underline;
  }

  &.active {
    background-color: rgba(0, 0, 0, .1);
  }
}

/**
 * Project dropdown
 */

.header__meta {
  display: inline-block;
  color: $primary-contrast;
  border-left: 1px solid rgba(black, .1);
  padding-top: 5px;
  padding-right: 5px;
  float: right;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  position: relative;
  user-select: none;
  height: 100%;
  transition: background-color .15s;
}

.header__meta__info {
  float: left;
  padding: 11px 20px 0 20px;
  text-align: right;
  font-size: 11px;

  @media (min-width: $breakpoint-s) {
    font-size: 13px;
  }
}

.header__meta__info__title {
  font-weight: 600;
}

.header__meta__info__domain {
  color: $primary-contrast;
  margin-bottom: 5px;
}


.header__meta__avatar {
  height: 50px;
  display: inline-block;
}


/**
 * Scrolled view
 */

.is-scrolled-in-section {

  .header__nav {
    opacity: 0;
    pointer-events: none;
  }

  @media (max-width: $breakpoint-s) {
    .header__meta {
      display: none;
    }
  }

  .scrolltop {
    transform: translate3d(0,0,0);
  }
}