.header{
  position: fixed;
  height: 60px;
  left: 0;
  right: 0;
  top: 0;
  background-color: $primary;
  z-index: 1;

  @include clearfix;

  @include breakpoint(1300px){
    left: $sidebar-width;
  }
}

.sidebar-is-empty .header {
  @include breakpoint(1300px){
    left: 0;
  }
}

.header__title{
  display: inline-block;
  padding: 22px;
  color: white;
  margin: 0;
}

.header__hamburger{
  display: inline-block;
  float: left;
  cursor: pointer;
  background-color: $primary;
  z-index: 2;
  color: white;
  padding: 15px;
  opacity: .8;
  transition: opacity .15s;
  border-right: 1px solid rgba(black, .1);
  font-size: 30px;
  user-select: none;

  &:hover {
    opacity: 1;
  }

  @include breakpoint(1300px){
    display: none;
  }
}

/**
 * The navigation
 */

.header__nav{
  position: relative;
  transition: opacity .15s ease;
  z-index: 5;
  background-color: $primary;
  float: left;
  display: none;
  opacity: 1;

  @include breakpoint($breakpoint-l){
    display: block;
  }
}

.header__nav__item{
  display: inline-block;
  border-right: 1px solid rgba(black, .1);
}

.header__nav__item__link{
  color: white;
  padding: 0 20px;
  line-height: 60px;
  text-decoration: none;
  font-weight: $weight-bold;
  display: block;

  &.active,
  &:hover{
    color: rgba(white, .8);
  }
}

/**
 * Project dropdown
 */

.header__projects {
  display: inline-block;
  color: white;
  border-left: 1px solid rgba(black, .1);
  padding-top: 5px;
  padding-right: 14px;
  float: right;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: $primary;
  z-index: 1;
  position: relative;
  user-select: none;
  height: 100%;

  @include breakpoint($breakpoint-s){
    padding-right: 34px;
  }

  &:hover {
    .header__project__icon {
      border-top-color: white;
    }
  }
}

.header__project__info{
  float: left;
  padding: 11px 20px 0 20px;
  text-align: right;
  font-size: $size-xxs;

  @include breakpoint($breakpoint-s){
    font-size: $size-xs;
  }
}

.header__project__title{
  font-weight: $weight-bold;
}

.header__project__domain{
  color: rgba(white, .8);
  margin-bottom: 5px;
}


.header__project__avatar{
  display: none;
  height: 50px;

  @include breakpoint($breakpoint-s){
    display: inline-block;
  }
}

.header__project__icon{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 7px 0 7px;
  border-color: rgba(white, .5) transparent transparent transparent;
  text-decoration: none;
  margin: 0 10px;
  position: absolute;
  right: 0;
  top: 50%;
  transition: border-color .15s;
  border-radius: 10px;

  &:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    border-color: $primary transparent transparent transparent;
    position: absolute;
    left: -4px;
    top: -8px;
  }
}


/**
 * Scrolled view
 */

.is-scrolled-in-section{

  .header__nav{
    opacity: 0;
    pointer-events: none;
  }

  @include breakpoint(max $breakpoint-s){
    .header__projects{
      display: none;
    }
  }

  .scrolltop{
    transform: translate3d(0,0,0);
  }
}