.header {
    position: fixed;
    height: 60px;
    left: 0;
    right: 0;
    top: 0;
    background-color: $primary;
    z-index: 1;
    // opacity: .6;

    @include clearfix;

    @include breakpoint(1300px) {
        // transform: translate3d($sidebar-width, 0, 0);
        left: $sidebar-width;
    }
}

.header__title {
    display: inline-block;
    padding: 22px;
    color: $white;
    margin: 0;
}

.header__hamburger {
    display: inline-block;
    float: left;
    cursor: pointer;
    background-color: $primary;
    z-index: 2;

    @include breakpoint(1300px) {
        display: none;
    }
}

.header__nav {
    position: relative;
    transition: all .5s ease;
    z-index: 5;
    background-color: $primary;
}

.header__container {
    padding: 0;
}


.is-scrolled-in-section {
    
    .header__nav {
        // display: none;
        position: absolute;
        transform: translate3d(-100% ,0,0);
    }

    @include breakpoint(max $breakpoint-s) {
        .header__projects {
            display: none;
        }
    }

    .scrolltop {
        transform: translate3d(0,0,0);
    }
}