.offcanvas{
  overflow-y: auto;
}


// Triggers offcanvas menu for mobile
.hamburger-toggle:checked ~ .offcanvas{
  transform: translate3d($sidebar-width, 0, 0);
  transition: .1s transform .2s;
}

.offcanvas__link-wrapper{
  @include clearfix;

  @include breakpoint($breakpoint-l){
    display: none;

    &.is-active{
      display: block;
    }
  }
}

.offcanvas__link{
  position: relative;
  display: block;
  padding: 22px;
  height: 60px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  background-color: $primary;
  border-bottom: 1px solid rgba(black, .15);
  color: white;

  &:hover{
    text-decoration: underline;
  }

  @include breakpoint($breakpoint-l){
    display: block;
    height: 60px;
    font-weight: bold;
    color: $primary;
    width: 100%;
    border-bottom: 1px solid $grey;
    margin: 0;
    background: none;

    &:not(.current){ 
      display: none; 
    }
  }
}