/**
 * List of projects
 */

.project__list{
  display: none;
  position: absolute;
  background-color: $bg-grey;
  right: 0;
  top: 60px;
  width: 250px;
  box-shadow: 0 2px 4px rgba(black, .2);
}

.project__list__item{
  @include clearfix;
  border-bottom: 1px solid $grey;
  font-size: 12px;

  &:last-of-type{
    border: 0;
  }
}

.project__list__item__link{
  padding: 14px;
  display: block;
  color: $base-dark;
}

.project__list__item:hover .project__list__item__body__title{
  text-decoration: underline;
}

.project__list__item__avatar{
  margin-right: 10px;
  display: inline-block;
  height: 30px;
}

.project__list__item__body{
  display: inline-block;
  margin-bottom: 0;
  line-height: 1.5;
}

.project__list__item__body__title{

}

.project__list__item__body__domain{
  font-weight: $weight-bold;
}


/**
 * Toggle logic
 */

.project-toggle:checked ~ .project__list{
 display: block;
}

.project-toggle:checked ~ .close-sidebar{
 opacity: 1;
}