/**
 * List of projects
 */

.project__list {
  display: none;
  position: absolute;
  background-color: $bg-grey;
  right: 0;
  top: 60px;
  width: 250px;
  border: 1px solid $grey;
}

.project__list__item {
  overflow: hidden;
  border-bottom: 1px solid $grey;
  font-size: 12px;
  transition: background-color .15s;

  &:last-of-type {
    border: 0;
  }

  &:hover {
    background-color: rgba(0, 0, 0, .1);

    .project__list__item__body__title {
      text-decoration: underline;
    }
  }
}

.project__list__item__link {
  padding: 14px;
  display: block;
  color: $text;
}

.project__list__item__avatar {
  margin-right: 10px;
  display: inline-block;
  height: 30px;
}

.project__list__item__body {
  display: inline-block;
  margin-bottom: 0;
  line-height: 1.5;
}

.project__list__item__body__title {

}

.project__list__item__body__domain {
  font-weight: 600;
}


/**
 * Toggle logic
 */

.project-toggle:checked ~ .project__list {
  display: block;
}

.close-projects {
  z-index: 0;
  top: 60px;
}

.project-toggle:checked ~ .close-projects {
  visibility: visible;
  opacity: .5;
}

.project-toggle:checked ~ .header__projects .header__project__icon {
  transform: rotate(-180deg);
}