.scrolltop{
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: $primary;
	width: 45px;
	height: 45px;
	line-height: 50px;
	text-align: center;
	color: white;
	font-weight: bold;
	border-radius: 100%;
	z-index: 1;
	box-shadow: 0 2px 2px rgba($black, .1);
	transform: translate3d(0,200%,0);
	transition: transform .2s ease;
}