.sidebar {
  position: fixed;
  width: $sidebar-width;
  bottom: 0;
  top: 0;
  left: 0;
  background-color: $bg-grey;
  z-index: 3;
  transition: transform .15s;
  transform: translateX(-$sidebar-width);
  overflow-y: auto;

  @media (min-width: $breakpoint-xl) {
    transform: none;
    border-right: 1px solid #ddd;
  }

  .is-open & {
    transform: scale(0, 100%);
  }
}

.has-no-headings .sidebar {
  @media (min-width: $breakpoint-xl) {
    display: none;
  }
}


/**
* Sidebar list pages
*/

.sidebar__nav {
  @media (min-width: $breakpoint-l) {
    display: none;
  }
}

.sidebar__nav__item__link {
  display: block;
  text-decoration: none;
  margin-bottom: 0;
  color: $primary-contrast;
  font-weight: bold;
  background-color: $primary;
  border-bottom: 1px solid rgba(black, .15);
  padding: 22px;

  &:hover {
    text-decoration: underline;
  }

  .is-active & {
    text-decoration: underline;
  }
}

/**
 * Sidebar list headings
 */

.sidebar__inpage {
  padding-top: 10px;
}

.sidebar__inpage__item__link {
  display: block;
  text-decoration: none;
  color: $text;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 0;
  padding: 10px 20px;

  &:hover {
    text-decoration: underline;
  }

  .is-active & {
    font-weight: 600;
  }
}


/**
 * Toggles
 */

.hamburger-toggle {
  display: none;
}

.hamburger-toggle:checked ~ .sidebar {
  transform: translateX(0);
}

.close-projects,
.close-sidebar {
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background-color: black;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  cursor: pointer;
  transition: opacity .5s;
}

.hamburger-toggle:checked ~ .close-sidebar {
  visibility: visible;
  opacity: .5;
}