.line {
    border: 0;
    height: 1px;
    background-color: $border-color;
    margin: 50px 0;
}

@mixin line{
    border: 0;
    background-color: $border-color;
    height: 1px;
    margin: 50px 0;
}

.line--seperator {
    @include line;
    &:before {
        content: '';
        position: relative;
        top: -5px;
        width: 30px;
        height: 5px;
        background-color: $primary;
        display: block;
    }
}

hr{
    @include line;
}