@mixin list {

    li:before {
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        background-color: $grey1;
        border-radius: 100%;
        margin-right: 8px;
        position: relative;
        top: -1px;
    }
}

.list {
    @include list;
}