%text-base {
  font-size: $size-m;
  font-weight: 300;
  color: $base-color;
  line-height: 1.5;
  margin-bottom: 30px;
}

// Base text
@mixin text-base {
  @extend %text-base;
}

// Small text
@mixin text-small {
  @extend %text-base;
  font-size: $size-s;
  font-weight: 300;
}

// Large text
@mixin text-large {
  @extend %text-base;
  font-size: $size-l;
  font-weight: 300;
}