nav {
  width: 100%;
  background-color: lightgreen;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 10px;
  color: black;
}

nav.large ul li a{
  padding: 20px;
}

nav.hamburger {
  display: none;
}

button.hamburger {
}

button.hamburger svg {
  display: block;
  width: 24px;
  height: 19px;
  margin: 15px 10px;
}