$wrapper: 1160px;
$sidebar-width: 240px;

$grey: #ddd;

// Text colors
$base-color: #666;
$base-dark: #333;


// Specific colors
$bg-grey: #F5F5F5;

$size-xs: 13px;
$size-s: 14px;
$size-m: 16px; // Base size
$size-l: 17px;

$weight-bold: 600;

$primary: #0288D1;
$primary-dark: darken($primary, 5%);


// breakpoints
$breakpoint-s: 500px;
$breakpoint-m: 750px;
$breakpoint-l: 990px;