$sidebar-width: 200px;

$grey: #ddd;
$text: #666;
$bg-grey: #F4F5F7;

$primary: STEELBLUE;
$primary-contrast: WHITESMOKE;

$breakpoint-s: 500px;
$breakpoint-m: 750px;
$breakpoint-l: 990px;
$breakpoint-xl: 1300px;