// Font sizes
.small { font-size: .92em; }
.medium { font-size: 1.1em; }
.large { font-size: 1.2em; }
.xlarge { font-size: 1.6em; line-height: 1.2; }
.huge { font-size: 2em; line-height: 1.25; }
.xhuge { font-size: 3em; line-height: 1.3; }

// Text styles
.bold { font-weight: bold; }


// Floats
.left { float: left; }
.right { float: right; }
.no-float { float: none; }
.clearfix { @include clearfix; }

// Text aligns
.align-left { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }

// Center
.center { margin: 0 auto; }

// Display styles
.hide { display: none; }
.xhide { display: none !important; }
.block { display: block; }
.xblock { display: block !important; }
.xinline { display: inline-block !important; }

.inline { 
    * { display: inline-block; } 
}

// Margins
.space-s { margin-bottom: $space-s; }
.space-m { margin-bottom: $space-m; }
.space-l { margin-bottom: $space-l; }

// Visually hide
.text-invisible{
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.invisible {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
