%wrapper {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  @extend %wrapper;
}

.push {
  @include breakpoint(1300px) {
    margin-left: $sidebar-width;
  }
}

.has-no-headings .push {
  @include breakpoint(1300px) {
    margin-left: 0;
  }
}

@mixin container {
  @extend %wrapper;
  position: relative;
  width: 100%;
  max-width: $wrapper;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 95px;
  margin-bottom: 95px;
}

.container {
  @include container;
}