.content {
  max-width: 1200px;
  margin: 0 auto;
}

.lead {
  padding: 100px 0;
  position: relative;
  text-align: center;
}

.lead::before {
  pointer-events: none;
  content: '';
  display: block;
  position: absolute;
  top: -35px;
  right: -20px;
  bottom: 0;
  left: -20px;
  background-image: url(./stars.png);
  background-repeat: no-repeat;
  opacity: .1;
  transform: rotate(-180deg);
}

.lead h1 {
  margin: 10px 0 0 0;
  font-size: 14.5px;
  color: #222;
  display: inline-block;
  margin-bottom: 40px;
}

.lead a {
  border-radius: 3px;
  padding: 20px 30px;
  font-size: 20px;
  display: inline-block;
  color: white;
  text-decoration: none;
  background-image: url(./stars.png);
  background-position: -346% -79%; 
  background-color: #2A66DC;
  transition: background-color .15s, background-position .25s cubic-bezier(0.075, 0.820, 0.165, 1.000);
}

.lead a:hover {
  background-color: #225BCB;
  background-position: -363% -79%; 
}


@media screen and (min-width: 768px) {
  .features {
    display: flex;
  }

  .features__item {
    flex: 1;
  }

  .features__item h2 {
    max-width: calc(100% - 20px);
  }

  .features__item p {
    max-width: calc(100% - 20px);
  }
}